$primary : rgba(230, 167, 86, 0.9);
$warning: #e6a756;
$danger: rgba(47, 23, 15, 0.9);
$light: #f6e1c5;
$nav: rgba(255, 255, 255, 0.7);
$gray: gray;
$secondary: #e4ac62;
@import '../../node_modules/bootstrap/scss/bootstrap.scss'